@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
p,
span,
a,
li {
  font-family: "Poppins", sans-serif;
}
/* top header */
.container {
  width: 1170px;
  margin: auto;
}
header {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.top_header {
  width: 100%;
  background-color: #000;
  height: 48px;
  color: #fafafa;
}
.top_header_contant {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 231px;
}
.top_header_text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.top_header_contant p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.top_header_text a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fafafa;
  text-decoration: underline;
}
.language {
  display: flex;
  align-items: center;
}
/* bottom header */
.bottom_header {
  height: 94px;
  padding: 40px 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 148px;
}
.logo_nav_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 190px;
}
.logo_nav_cont ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.nav_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.active {
  border-bottom: 1px solid #000;
}
.list_item {
  position: relative;
  line-height: 24px;
}

.list_item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #000;
  transition: 0.3s ease;
}

.list_item:hover::after {
  width: 100%;
}

.search_cart_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.search_cont {
  width: 243px;
  height: 38px;
  background-color: #f5f5f5;
  padding: 7px 12px 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}
#gsearch {
  width: 170px;
  border: none;
  background-color: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.search_cart_cont img,
.pointer {
  cursor: pointer;
}
.search_cont img {
  height: 24px;
  width: 24px;
}
.cart_cont {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* main section  */

.main_container {
  display: flex;
  align-items: center;
}
.list_cont {
  padding: 40px 16px 0 0;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  width: 233px;
}
.list_cont ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fashion_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 217px;
}
.fashion_list img {
  width: 24px;
  height: 24px;
}
.fashion_list p,
.list_cont li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* main section banner  */
.main_banner {
  display: flex;
  align-items: center;
  background-color: #000;
  width: 882px;
  margin-left: 45px;
  margin-top: 40px;
  position: relative;
}
.banner_left_side {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 396px;
  padding: 56px 38px 47px 64px;
}
.iphone_series_cont {
  display: flex;
  align-items: center;
  gap: 24px;
}
.iphone_series_cont img {
  width: 40px;
  height: 49px;
}
.iphone_series_cont h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: #fafafa;
}
.banner_shop_now {
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner_shop_now p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fafafa;
  position: relative;
}
.banner_shop_now p::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  width: 100%;
  background-color: #fafafa;
  height: 1px;
}
.banner_shop_now img {
  width: 24px;
  height: 24px;
}
.slider_cont {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 12px;
  top: 319px;
  left: 353px;
  position: absolute;
}
.slider {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.act {
  background-color: #db4444;
  border: 2px solid #fff;
}
/* section 2 */
.second_section {
  margin-top: 140px;
}
.second_sect_top_cont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}
.second_sect_left_side {
  display: flex;
  align-items: flex-end;
  gap: 87px;
}
.red_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.red_title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
}
.red_cont {
  display: flex;
  align-items: center;
  gap: 16px;
}
.red_rect {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: #db4444;
}
.red_cont p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.timer {
  display: flex;
  gap: 17px;
  align-items: flex-end;
}
.timer h4 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
  margin-bottom: 4px;
}
.timer span {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.dott {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.dott div {
  width: 4px;
  height: 4px;
  background-color: #e07575;
  border-radius: 50%;
}

.slider_errows_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.slider_errows_cont div {
  width: 46px;
  height: 46px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* cards  */
.second_section_article_container {
  display: flex;
  gap: 30px;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 350px;
  gap: 16px;
}
.card_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 250px;
  border-radius: 4px;
  background: #f5f5f5;
}
.card_img span {
  position: absolute;
  left: 12px;
  top: 12px;
  background-color: #db4444;
  color: #fafafa;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 4px 12px;
  border-radius: 4px;
}

.button_cont {
  position: absolute;
  display: flex;
  gap: 8px;
  flex-direction: column;
  top: 12px;
  right: 12px;
  align-items: center;
  justify-content: center;
}
.button_cont div {
  border-radius: 50%;
  background-color: #fff;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card_text h5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.card_text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #db4444;
}
.card_text p span {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  margin-left: 12px;
}

.card_last_span {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
.review_stars {
  display: flex;
  align-items: center;
  gap: 8px;
}
.view_all_product_bttn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 234px;
  height: 56px;
  color: #fafafa;
  /* padding: 16px 48px 16px 48px; */
  border-radius: 4px;
  background: #db4444;
  border: none;
  margin: 60px auto;
  display: block;
}

/* new arrival section  */
.new_arrival_contant,
.new_arrival_right_side,
.speakers_parfume_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.new_arrival_header h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 60px;
  margin-top: 20px;
}
.new_arrivals {
  background-repeat: no-repeat;
  color: #fff;
  background-color: #000;
}

.new_arrival_left_side {
  background-image: url("../photos/playstation.png");
  width: 570px;
  height: 600px;
  border-radius: 4px;
  background-position: bottom center;
  position: relative;
}
.new_arrival_right_side {
  flex-direction: column;
  gap: 32px;
}
.card_text_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  position: absolute;
  left: 32px;
  bottom: 32px;
}
.smaller_card_text_cont {
  height: 85px;
  left: 24px;
  bottom: 24px;
}
.new_arrival_contant h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(250, 250, 250, 1);
}
.new_arrival_contant p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 242px;
  color: rgba(250, 250, 250, 1);
}
.new_arrival_contant a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: fit-content;
}
.women_colect {
  background-image: url("../photos/woman.png");
  width: 570px;
  height: 284px;
  border-radius: 4px;
  background-position: bottom right;
  background-color: #0d0d0d;
  position: relative;
}

.speakers {
  background-image: url("../photos/speakers.png");
  width: 270px;
  height: 284px;
  border-radius: 4px;
  background-position: center;
  position: relative;
}

.perfume {
  background-image: url("../photos/perfume.png");
  width: 270px;
  height: 284px;
  border-radius: 4px;
  background-position: center;
  position: relative;
}

/* sign up page */
.form_container {
  background-color: rgba(249, 248, 247, 1);
  height: 1000px;
  padding-top: 40px;
}
.form_section {
  width: 552px;
  height: 832px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 30px 63px 10px;
}
.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
}
.form_header_desc {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: rgba(33, 38, 40, 0.6);
  margin-bottom: 43px;
}
.input {
  width: 100%;
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 27px;
  padding: 0 54px 0 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(33, 38, 40, 0.5);
}
.card_image {
  background-image: url(../photos/card_icon.svg);
  background-repeat: no-repeat;
  background-position: right 25px center;
}
.date_cvv_cont,
.country_zipp_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data_input,
.country_input {
  width: 282px;
}
.country_input {
  width: 282px;
  display: block;
  appearance: none;
  background-image: url(../photos/selector.svg);
  background-repeat: no-repeat;
  background-position: right 23px center;
  cursor: pointer;
}
.cvv_input,
.zip_input {
  width: 120px;
}
.checkbox_cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;   */
}
.checkbox:checked::before {
  content: url(../photos/checked.svg);
  width: 13px;
  height: 9px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.checkbox_cont label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(33, 38, 40, 0.5);
}
.colored_label {
  color: rgba(225, 48, 108, 0.7);
}
.form_btn {
  width: 370px;
  height: 64px;
  margin: 29px auto 3px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  display: block;
  background: linear-gradient(
    270deg,
    #c23584 0%,
    #e2306c 24.48%,
    #f77736 83.85%,
    #fa963e 100%
  );
  box-shadow: 2px 4px 15px 0px rgba(222, 49, 111, 0.4);
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.15px;
}
.btn_faded {
  color: #fff;
  text-decoration: line-through;
  opacity: 0.6;
}
.have_coupon {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(225, 48, 108, 1);
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer  */
footer {
  height: 440px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 140px;
  padding: 80px 0 24px;
}
.footer_nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 76px;
  color: rgba(250, 250, 250, 1);
}
.footer_nav_cont h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}
.footer_nav_cont h5 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.footer_nav_cont ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_nav_cont li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer_email_input {
  appearance: none;
  background-image: url("../photos/send.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-color: transparent;
  cursor: pointer;
  width: 217px;
  height: 48px;
  border-radius: 4px;
  border: 1.5px solid rgba(250, 250, 250, 1);
  margin-bottom: 27px;
  padding: 0 16px 0 16px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(250, 250, 250, 1);
  margin-top: 16px;
}
.save_money {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(250, 250, 250, 0.7);
}
.footer_qr_download {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px 0 24px;
  width: 198px;
}
.ios_android_download_cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 84px;
  width: 110px;
  justify-content: center;
}
.app_store {
  width: 104px;
  height: 34px;
}
.google_play {
  width: 104px;
  height: 30px;
}
.social_media_icon_container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.social_media_icon_container a {
  width: 24px;
  height: 24px;
}
.footer_support_cont {
  width: 175px;
}
.footer_support_cont a {
  color: #fafafa;
}
.copyright {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba(249, 249, 249, 0.2);
  justify-content: center;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
